@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Cinzel Decorative';
    background-color: #494949;
}

/*Página de Login*/
.main-login {
    width: 100vw;
    height: 100vh;
    background: #2E2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voltar {
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    margin-top: 10px;
    cursor: pointer;
    padding: 20px;
}

.left-login-image {
    width: 100vh;
}

.right-login {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #3A3A3A;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1 {
    color: #E3DDA4;
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #494949;
    font-family: cinzel decorative;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #ffffff;
    margin-bottom: 10px;
}

.btn-login {
    font-family: 'Cinzel Decorative';
    font-size: 12pt;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #3A3A3A;
    background: #E3DDA4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #eee8aa;
}

#div_msg {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12pt;
    color: #E3DDA4;
}

.div_msg_img {
    height: 20px;
}

#img_load {
    height: 100%;
}

/*Página de Cadastro*/
.main-cadastro {
    width: 100vw;
    height: 100vh;
    background: #2E2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.left-cadastro-image {
    width: 100vh;
}

.right-cadastro {
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #3A3A3A;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro h1 {
    color: #E3DDA4;
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}

#cad_dtNascimento::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(90%) sepia(100%) saturate(10%) hue-rotate(90deg);
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #494949;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    justify-self: center;
    color: #ffffff;
    margin-bottom: 10px;
}

#redirecionar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn-cadastrar {
    font-family: 'Cinzel Decorative';
    font-size: 12pt;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #3A3A3A;
    background: #E3DDA4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #eee8aa;

}

a {
    color: #E3DDA4;
    text-decoration: none;
}



.header-index .container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    height: 12vh;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 90%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 90%;
}

.navbar-index {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.400);
}

/* .header-index .container .logo {
    background-color: rgb(0, 0, 0, 0.400);
} */

#header_home {
    background-color: #2E2E2E;
    box-shadow: 10px 5px 5px black;
}

.btn-header:hover {
    text-shadow: 0px 0px 10px #E3DDA4;
}

.btn-header:hover {
    text-shadow: 0px 0px 10px #E3DDA4;
    transform: scale(1.1);
    transition: all 0.5s;
}


.btn-header {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 14pt;
    font-family: 'Cinzel Decorative';
    color: #E3DDA4;
}

.btn-index {
    width: 15%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12pt;
    font-family: 'Cinzel Decorative';
    color: #E3DDA4;
}

.banner-index .container {
    display: flex;
    width: 100%;
    min-height: 600px;
    max-height: 4000;
    background-size: cover;
    
}

.banner-index .container img {
    height: 100%;
    width: 100%;
    align-items: center;
}

.welcome-index {
    width: 100%;
    position: absolute;
    top: 600px;
    text-align: center;
    font-size: 40px;
    color: #E3DDA4;
    text-shadow: 0px 0px 5px #000000;
    white-space: pre-line;
    border-radius: 20px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 100%;
    background-color: #000000;
}

.footer .container img {
    height: 30%;
    margin: auto;
}

.footer .container label {
    margin: auto;
    font-size: 10pt;
    white-space: pre-line;
    font-family: 'Cinzel';
    color: #E3DDA4;
}

#img-body {
    background-size: cover;
}

/* Tela Inicio */
.lista-header {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 220px;
    margin-left: 10%;
    margin-top: 0%;
    width: 12%;
    background-color: #2E2E2E;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: center;
    align-items:center;
    z-index: 1001;
}

.lista-header a {
    text-align: left;
    width: 79%;
}

.container-inicio {
    margin-top: 78px;
    height: 600px;
    width: 100%;
}

.banner-imagem {
    height: 100%;
    width: 100%;
}

.metricas .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    max-height: 800;
    width: 100%;
    margin-top: 40px;
}

.metricas .container label {
    margin: auto;
    font-size: 30pt;
    color: #E3DDA4;
}

.container-inicio img {
    height: 100%;
    width: 100%;
}

.grafico {
    margin: auto;
    display: flex;
    height: 70%;
    width: 70%;
}

#myChart {
    display: flex;
    margin: auto;
    height: 90%;
    width: 90%;
}

.welcome {
    position: absolute;
    top: 300px;
    left: 60px;
    font-size: 46px;
    color: #E3DDA4;
    text-shadow: 0px 0px 5px #000000;
    white-space: pre-line;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.400);
}
/* Fim Inicio */


/* Inicio Páginas de jogos */

.conteudo {
    width: 100%; 
}

.conteudo .container {
    min-height: 100px;
    max-height: 4000px;
    width: 80%;
    margin: auto;
    white-space: pre-line;
    color: #ffffff;
    font-size: 14pt;
}

p {
    color: #E3DDA4;
    font-size: 18pt;
    text-align: center;
}

.informacoes{
    color: #ffffff;
    font-size: 14pt;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container-personagens {
    display: flex;
    margin-top: 78px;
    height: 300px;
    width: 100%;
}

.container-personagens img { 
    margin: auto;
    height: 100%;
}


